

@define-mixin atSmall {
  @media (min-width: 530px) {
    @mixin-content;
  }
}


@define-mixin atMedium {
  @media (min-width: 800px){
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 1200px){
    @mixin-content;
  }
}


/*This mixin is used to clear the floating elements with class row by putting them on new row. without this bottom content shall overlap the top one*/

@define-mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;;
  }
}
