.row {

  @mixin clearfix;

/*This is to remove the gutter of the right how we get started div*/
  &--gutters {
    margin-right: -65px;
  }

  &--gutters-large {
    margin-right: -100px;
  }

  /*divs in the row gutters class*/
  &--gutters > div{
    padding-right: 65px;
  }

  &--gutters-large > div {
    padding-right: 100px;
  }
  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @mixin atMedium {

    &__b-margin-until-medium{
      margin-bottom: 0;
    }

    &__medium-4 {
      float:left;
      width: 33.33%;
    }


  /*overwritting the default size of 33% width in order to look better */
    &__medium-4--larger{
      width: 37%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }

    &__medium-8 {
      float: left;
      width: 66.66%;
    }
/*overwritting the default size of 66.66% width in order to look better */
    &__medium-8--smaller{
      width: 63%;
    }

  }
}
